.TransparentButtonComponent-button {
  color: #28b5e0;
  background: none;
  border: none;
  padding: 0;
  width: 200px;
  text-align: left;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-weight: 600;
}

.TransparentButtonComponent-icon {
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
