.DebtsInputContainerComponent-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.DebtsInputContainerComponent-table {
  border-spacing: 0px;
  border-collapse: collapse;
}

.DebtsInputContainerComponent-table th {
  width: 110px;
  text-align: left;
  font-size: 10px;
  font-weight: 500;
}

.DebtsInputContainerComponent-button-container {
  display: flex;
  flex-direction: row;
}

.DebtsInputContainerComponent-delete-button {
  color: red;
  border: none;
  background: none;
  font-weight: 600;
  cursor: pointer;
}

.table-row {
  display: "table-row";
}
